 <link rel="stylesheet" href="./styles/customer.css">
<div class="main-container" ng-controller="customerController">
    
    <fieldset>
        <legend>Customer Details</legend>
        <div>
            <label for="search">Search Here:</label>
            <input type="text" ng-model="searchText" placeholder="Search Customers">
        </div>
        <h2>Enter Customer Details</h2>
        <input type="text" ng-model="customerCode" placeholder="Customer Code">
        <input type="text" ng-model="customerName" placeholder="Customer Name">
        <button ng-click="save()">{{buttonLabel}}</button>
        <p>This is the Customer Table</p>
        <table border="1">
            <thead>
                <tr>
                    <th>Sr. No</th>
                    <th>Customer Code</th>
                    <th>Customer Name</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in customers | filter:searchText">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ customer.customerCode }}</td>
                    <td>{{ customer.customerName }}</td>
                    <td><button ng-click="editCustomer(customer.customerCode)">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>
